language: cpp
sudo: false
cache:
  directories:
  - container
env:
  matrix:
  - CMAKE_GENERATOR="Unix Makefiles" CMAKE_VERSION="latest" DEPLOY="1"
  - CMAKE_GENERATOR="Ninja" CMAKE_VERSION="latest"
  - CMAKE_GENERATOR="Unix Makefiles" CMAKE_VERSION="3.0"
  - CMAKE_GENERATOR="Ninja" CMAKE_VERSION="3.0"
  - CMAKE_GENERATOR="Unix Makefiles" CMAKE_VERSION="latest" COVERAGE="--use-cmake-coverage"
  global:
  - secure: J7KGAYdRB8ZkXZLm8+gj8p62wnYAGepinlHu9JixCn5he8xMHIdwvHF2IP/eNwcrhLER7ghELIVXqkHrDKPt0jK55fQ+3UECXmLG4TsCniKKrqlVveL2B4zqoH8AM/qR8XMrsouNClewwMKQvB+QN+GgdHBFkwixChmaPlX1Fg8=
  - secure: WKzlRlwSGrFS2MV0aM5G8PYNfMrzBe6JvnqF8Y8Iv2/RZMob4X3Vznv+3MWqKnCqMj1swGDIzzNlOLKiVVaft1vLS/pbQ/jn8I0/aD5kln0ImwEfbg8zCJn9tNxeEplkEO6euQXxa/ryd4bYtuVqUBnrwoL1xnBNlk9Kh9DmpNY=
  - secure: hOUsw/sfTvre32nYEZi9gv41YsJAHwRERSgZ+v26o9pmyJ/9Vw5udauI8sWvJhKc/kpaCQ3jHFZrTyZtGMim2+hbe9nrtnZ6LcaIflM1tI/jzHetcQGa3CImK7r2WmC/A7sOj02dkTCcY9D9jHjFii181hWEVN7paGMKBOT/fkY=
addons:
  apt:
    sources:
    - deadsnakes
    packages:
    - python3.4-dev
install:
- eval $(curl -LSs --retry 100 --connect-timeout 3 public-travis-scripts.polysquare.org/bootstrap.py
  | python /dev/stdin -d container -s setup/conan/setup.py -e bash -p /dev/stdout
  --cmake-version ${CMAKE_VERSION})
script:
- polysquare_run check/conan/check.py ${COVERAGE} --cmake-namespace psq --generator
  "${CMAKE_GENERATOR}"
before_cache:
- polysquare_cleanup
after_success:
- polysquare_run coverage/cmake/coverage.py
before_deploy:
- polysquare_run deploy/conan/before_deploy.py --package="cmake-multi-targets"
deploy:
  provider: script
  skip_cleanup: true
  script: "./travis-deploy"
  on:
    repo: polysquare/cmake-multi-targets
    branch: master
    condition: "${DEPLOY} = 1"
